body {
    background-color: rgb(8, 25, 31);
    color: rgb(0, 0, 0);
    font-family:"Oswald", sans-serif;;
}

p{
    background-color:rgb(101, 86, 116);
    font-size: 20px;
    /* border expects border-width, border-style, and border-color */
    border: 5px dashed;
    padding: 10px;
    margin: 50px;
    margin-left: 100px;
}
.banner {
    background-color: aliceblue;
    font-size: 40;
    text-align: center;
    color:rgb(20, 20, 20);
    border: 5px dotted;
    padding: 20px;
}

h1 {
    color: rgb(255, 255, 255);
    text-decoration:underline
}

img{
    border:10px dotted rgb(97, 35, 35);
    max-width: 100%;
}

details {
background-color: rgb(255, 247, 250);
padding:10px;
}

summary {
    background-color: rgb(174, 171, 177);
    padding: 20px;
    cursor:pointer;
}
Summary:hover {
    background-color: antiquewhite;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover {
    color:azure;
    background-color: rgb(117, 126, 252);
}

div {
    background-color: rgb(4, 44, 58)
}

.test{
    background-color: aliceblue;
}

#special {
    background-color: rgb(177, 162, 169);
}

.small{
    font: size 10px;
    font-style:italic;
    letter-spacing: 10px;
}

.big{
    font: 200%
    font-weight: bold;
    letter-spacing: 6px;
}  

 c { 
    position: absolute;
    align-items: center;
    top: 10px;
    right: 43%;
    height: 15.5em;
}

d {
    position: absolute;
    align-items: center;
    top: 10px;
    right: 43%;
    height: 9.5em;
}